.product-image {
  height: 300px; 
  
}
.image-credits {
  font-size: 12px; 
 
}

body {
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, #73880a, white);
}

