body {
  background: linear-gradient(to bottom right, #73880a, white);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  color: #111; 
  height: 100vh;
  width: 100vw;
}
.timeparent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.time {
  font-size: 70px;
  position: relative;
  display: block;
  margin-top: 45px;
  color:#3c56eb;
}
.timecontainer {
  text-align: center;
  height: 175px;
  width: 400px;
  border: 6px solid #3c56eb;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .timecontainer {
    margin-left: 10px;
    margin-right: 10px;
  }
}
